<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head(~{::title})">
    <title>Facturacion</title>
</head>
<body>
<div class="container-fluid d-flex flex-row h-100 p-0">
    <div th:replace="layout::side-nav"></div>
    <div class="page-content overflow-auto">
        <form method="POST" th:action="@{/asientoscontables/new}" th:object="${asientocontable}" class="container">
            <div class="row my-4 justify-content-center">
                <div class="col-md-12 rounded bg-white p-3">
                    <h3 class="view-title">Nueva Asiento</h3>
                    <p class="mb-0 view-description">Crea un nuevo asiento</p>
                </div>

                <div class="row my-4 justify-content-center">
                    <div class="col-md-12 rounded p-0">
                        <div class="card page-card">
                            <div class="card-header">
                                <h4 class="card-title">Datos</h4>
                            </div>
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Fecha Desde</label>
                                        <input type="date" class="form-control"
                                               id="fecha-desde"></input>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Fecha Hasta</label>
                                        <input type="date" class="form-control"
                                               id="fecha-hasta"></input>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Cliente</label>
                                        <select th:field="*{cliente}" class="form-select" >
                                            <option th:each="clienteO : ${clientes}"
                                                    th:value="${clienteO.id}" th:text="${clienteO.nombreRazon}"></option>
                                        </select>
                                        <div th:if="${#fields.hasErrors('cliente')}"
                                             th:errors="*{cliente}" class="invalid-feedback">
                                            Cliente invalido
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Comentario</label>
                                    <textarea rows="4" class="form-control"
                                              th:classappend="${#fields.hasErrors('comentario') ? 'is-invalid' : ''}"
                                              th:field="*{comentario}"></textarea>
                                    <div th:if="${#fields.hasErrors('comentario')}"
                                         th:errors="*{comentario}" class="invalid-feedback">
                                        Comentario invalido
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>