<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head(~{::title})">
    <title>Facturacion</title>
</head>
<body>
<div class="container-fluid d-flex flex-row h-100 p-0">
    <div th:replace="layout::side-nav"></div>
    <div class="page-content overflow-auto">
        <form method="POST" th:action="@{/facturas/new}" th:object="${factura}" class="container">
            <select id="articulo-select-base" style="display: none" class="form-select" >
                <option value=""></option>
                <option th:each="articulo : ${articulos}"
                        th:value="${articulo.id}" th:text="${articulo.descripcion}"></option>
            </select>
            <div class="row my-4 justify-content-center">
                <div class="col-md-12 rounded bg-white p-3">
                    <h3 class="view-title">Nueva Factura</h3>
                    <p class="mb-0 view-description">Crea una nueva factura</p>
                </div>
            </div>

            <div class="row my-4 justify-content-center">
                <div class="col-md-12 rounded p-0">
                    <div class="card page-card">
                        <div class="card-header">
                            <h4 class="card-title">Datos</h4>
                        </div>
                        <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Fecha</label>
                                        <input type="date" class="form-control"
                                               th:classappend="${#fields.hasErrors('fecha') ? 'is-invalid' : ''}"
                                               th:field="*{fecha}"></input>
                                        <div th:if="${#fields.hasErrors('fecha')}"
                                             th:errors="*{fecha}" class="invalid-feedback">
                                            Fecha Inválida
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Vendedor</label>
                                        <select id="vendedor-select" th:field="*{vendedor}" class="form-select" >
                                            <option th:each="vendedorO : ${vendedores}"
                                                    th:attr="data-comision=${vendedorO.porcientoComision}"
                                                    th:value="${vendedorO.id}" th:text="${vendedorO.nombre}"></option>
                                        </select>
                                        <div th:if="${#fields.hasErrors('vendedor')}"
                                             th:errors="*{vendedor}" class="invalid-feedback">
                                            Vendedor invalido
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Cliente</label>
                                        <select th:field="*{cliente}" class="form-select" >
                                            <option th:each="clienteO : ${clientes}"
                                                    th:value="${clienteO.id}" th:text="${clienteO.nombreRazon}"></option>
                                        </select>
                                        <div th:if="${#fields.hasErrors('cliente')}"
                                             th:errors="*{cliente}" class="invalid-feedback">
                                            Cliente invalido
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Comentario</label>
                                    <textarea rows="4" class="form-control"
                                              th:classappend="${#fields.hasErrors('comentario') ? 'is-invalid' : ''}"
                                              th:field="*{comentario}"></textarea>
                                    <div th:if="${#fields.hasErrors('comentario')}"
                                         th:errors="*{comentario}" class="invalid-feedback">
                                        Comentario invalido
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-4 justify-content-center">
                <div class="col-md-12 rounded p-0">
                    <div class="card page-card">
                        <div class="card-header">
                            <h4 class="card-title">Detalles</h4>
                        </div>
                        <div class="card-body">
                            <div class="row my-2">
                                <div class="col-md-12 d-flex justify-content-end">
                                    <a class="btn btn-info" id="btn-nuevo-detalle" href="#">Nuevo Registro</a>
                                </div>
                            </div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Cantidad</th>
                                    <th>Precio Unitario</th>
                                    <th>Articulo</th>
                                    <th>Subtotal</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody id="detalle-tbody">

                                </tbody>
                                <tfoot>
                                    <tr><td></td><td></td><td></td><td>Subtotal</td><td><input id="fact-subtotal" readonly class="form-control" /></td></tr>
                                    <tr><td></td><td></td><td></td><td>Comisión</td><td><input id="fact-comision" readonly class="form-control" /></td></tr>
                                    <tr><td></td><td></td><td></td><td>Total</td><td><input id="fact-total" readonly class="form-control" /></td></tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-4 justify-content-end">
                <div class="col-md-2 d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script>
    $(document).ready(function() {
        function updateTotal() {
            let sub = 0;
            $('.subtotal').each(function() {
                let input = $(this);
                sub += parseFloat($(input).val());
            });

            let comision = $('#vendedor-select option:selected').data('comision') || "0";
            comision = parseFloat(comision);

            let total = Math.round(sub + (sub * comision));

            $('#fact-total').val(total);
            $('#fact-comision').val((comision * 100) + '%');
            $('#fact-subtotal').val(sub);
        }

        $('#vendedor-select').change(function () {
           updateTotal();
        });

        $('#btn-nuevo-detalle').click(function() {
            let index = $("#detalle-tbody").children().length;
            let select = $('#articulo-select-base').clone();
            select.removeAttr('id');
            select.removeAttr('style');
            select.addClass("articulo-select articulo");
            select.attr('name', 'detallesFactura[].articulo');

            $('#detalle-tbody').append(`
            <tr>
                <td><input class="id" type="hidden" name="detallesFactura[].id" /> <input class="form-control cantidad" name="detallesFactura[].cantidad" step="1" type="number" min="1" value="1"></input></td>
                <td><input class="form-control precioUnitario" name="detallesFactura[].precioUnitario" readonly type="number" min="0" value="0"></input></td>
                <td>${$(select).prop('outerHTML')}</td>
                <td><input class="form-control subtotal" readonly /></td>
                <td><a href="#" class="btn btn-danger borrar-detalle"><i class="fa-solid fa-trash"></i></a> </td>
            </tr>
            `);

            $('.borrar-detalle').last().click(function() {
                $(this).closest('tr').remove();
                updateIndexes();
            });

            $('.articulo-select').last().change(function() {
                let indx =  $(this).parent().children('.articulo-select').index(this);
                let artId = $(this).val();
                let select = $(this);
                const full = location.protocol + '//' + location.host;

                $.ajax({url: `${full}/api/articulos/${artId}`, success: function (data) {
                   $(select).closest('tr').find('.precioUnitario').val(data.precioUnitario);
                    for (let i = 0; i < $('#detalle-tbody tr').length; i++) {
                        updateSubtotal(i);
                    }
               }});
            });

            $('input.cantidad').last().change(function() {
                for (let i = 0; i < $('#detalle-tbody tr').length; i++) {
                    updateSubtotal(i);
                }

                // updateSubtotal(indx);
            });

            updateIndexes();

            function updateSubtotal(index) {
                let cantidadInput = $('input.cantidad').eq(index);
                let cantidad = $(cantidadInput).val();
                let precio = $(cantidadInput).closest('tr').find('.precioUnitario').val();
                $(cantidadInput).closest('tr').find('.subtotal').val(cantidad * precio);
                updateTotal();
            }

            function updateIndexes() {
              $('#detalle-tbody tr').each(function(indx) {
                  let row = $(this);
                  let inpId = $(row).find('.id').first();
                  let inpCantidad = $(row).find('.cantidad').first();
                  let inpPrecio = $(row).find('.precioUnitario').first();
                  let selectArt = $(row).find('.articulo-select').first();
                  $(inpId).attr('name', $(inpId).attr('name').replace(/detallesFactura\[\d*]/i, `detallesFactura[${indx}]`));
                  $(inpCantidad).attr('name', $(inpCantidad).attr('name').replace(/detallesFactura\[\d*]/i, `detallesFactura[${indx}]`));
                  $(inpPrecio).attr('name', $(inpPrecio).attr('name').replace(/detallesFactura\[\d*]/i, `detallesFactura[${indx}]`));
                  $(selectArt).attr('name', $(selectArt).attr('name').replace(/detallesFactura\[\d*]/i, `detallesFactura[${indx}]`));
              });
            }
        });
    });
</script>
</html>