<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head(~{::title})">
    <title>Facturacion</title>
</head>
<body>
<div class="container-fluid d-flex flex-row h-100 p-0">
    <div th:replace="layout::side-nav"></div>
    <div class="page-content">
        <div class="container">
            <div class="row my-4 justify-content-center">
                <div class="col-md-12 rounded bg-white p-3">
                    <h3 class="view-title">Editar Artículo</h3>
                    <p class="mb-0 view-description">Edita el artículo <span th:text="${articulo.getDescripcion()}"></span></p>
                </div>
            </div>

            <div class="row my-4 justify-content-center">
                <div class="col-md-12 rounded p-0">
                    <div class="card page-card">
                        <div class="card-header">
                            <h4 class="card-title">Datos</h4>
                        </div>
                        <div class="card-body">
                            <form method="POST" th:action="@{/articulos/edit/{id}(id=${articulo.id})}" th:object="${articulo}">
                                <div class="mb-3">
                                    <label class="form-label">Id</label>
                                    <input type="text" class="form-control"
                                           readonly disabled
                                           th:classappend="${#fields.hasErrors('id') ? 'is-invalid' : ''}"
                                           th:field="*{id}"></input>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Descripción</label>
                                    <input type="text" class="form-control"
                                           th:classappend="${#fields.hasErrors('descripcion') ? 'is-invalid' : ''}"
                                           th:field="*{descripcion}"></input>
                                    <div th:if="${#fields.hasErrors('descripcion')}"
                                         th:errors="*{descripcion}" class="invalid-feedback">
                                        Descripcion Invalida
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Estado</label>
                                    <select th:field="*{estado}" class="form-select" >
                                        <option th:each="estado : ${T(unapec.facturacion.domain.Articulo.EstadoArticulo).values()}"
                                                th:value="${estado}" th:text="${estado}"></option>
                                    </select>
                                    <div th:if="${#fields.hasErrors('estado')}"
                                         th:errors="*{estado}" class="invalid-feedback">
                                        Estado invalido
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Precio Unitario</label>
                                    <input type="number" class="form-control"
                                           th:classappend="${#fields.hasErrors('precioUnitario') ? 'is-invalid' : ''}"
                                           th:field="*{precioUnitario}"></input>
                                    <div th:if="${#fields.hasErrors('precioUnitario')}"
                                         th:errors="*{precioUnitario}" class="invalid-feedback">
                                        Precio invalido
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>