<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head(~{::title})">
    <title>Facturacion</title>
</head>
<body>
<div class="container-fluid d-flex flex-row h-100 p-0">
    <div th:replace="layout::side-nav"></div>
    <div class="page-content">
        <div class="container">
            <div class="row my-4 justify-content-center">
                <div class="col-md-12 rounded bg-white p-3">
                    <h3 class="view-title">Nuevo Cliente</h3>
                    <p class="mb-0 view-description">Crea un nuevo cliente</p>
                </div>
            </div>

            <div class="row my-4 justify-content-center">
                <div class="col-md-12 rounded p-0">
                    <div class="card page-card">
                        <div class="card-header">
                            <h4 class="card-title">Datos</h4>
                        </div>
                        <div class="card-body">
                            <form method="POST" th:action="@{/clientes/new}" th:object="${cliente}">
                                <div class="mb-3">
                                    <label class="form-label">Nombre o Razón</label>
                                    <input type="text" class="form-control"
                                           th:classappend="${#fields.hasErrors('nombreRazon') ? 'is-invalid' : ''}"
                                           th:field="*{nombreRazon}"></input>
                                    <div th:if="${#fields.hasErrors('nombreRazon')}"
                                         th:errors="*{nombreRazon}" class="invalid-feedback">
                                        Razón Invalida
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">RNC o Cédula</label>
                                    <input type="text" class="form-control"
                                           th:classappend="${#fields.hasErrors('rncCedula') ? 'is-invalid' : ''}"
                                           th:field="*{rncCedula}"></input>
                                    <div th:if="${#fields.hasErrors('rncCedula')}"
                                         th:errors="*{rncCedula}" class="invalid-feedback">
                                        Razón Invalida
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Cuenta Contable</label>
                                    <input type="text" class="form-control"
                                           th:classappend="${#fields.hasErrors('cuentaContable') ? 'is-invalid' : ''}"
                                           th:field="*{cuentaContable}"></input>
                                    <div th:if="${#fields.hasErrors('cuentaContable')}"
                                         th:errors="*{cuentaContable}" class="invalid-feedback">
                                        Razón Invalida
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Estado</label>
                                    <select th:field="*{estado}" class="form-select" >
                                        <option th:each="estado : ${T(unapec.facturacion.domain.Cliente.EstadoCliente).values()}"
                                                th:value="${estado}" th:text="${estado}"></option>
                                    </select>
                                    <div th:if="${#fields.hasErrors('estado')}"
                                         th:errors="*{estado}" class="invalid-feedback">
                                        Estado invalido
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>