<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/dataTables.min.css}">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script type="text/javascript" th:src="@{/scripts/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/jquery-3.7.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/dataTables.min.js}"></script>
    <script src="https://kit.fontawesome.com/b6c6c1da62.js" crossorigin="anonymous"></script>
    <title th:replace="${title}">Facturación</title>
</head>
<body>
<div class="container-fluid d-flex flex-row h-100 p-0">
    <div th:fragment="side-nav" class="side-nav h-100">
        <div class="d-flex flex-column">
            <div class="logo-container my-3">
                <img class="img-fluid page-logo" th:src="@{/images/logo.png}">
                <span class="app-name">Facturapp</span>
            </div>
            <h6 class="nav-label">Menú Principal</h6>

            <a class="side-nav-link" th:href="@{/clientes}">
                <i class="fa-solid fa-money-bill-wave"></i>
                <span> Clientes </span>
            </a>
            <a class="side-nav-link" th:href="@{/facturas}">
                <i class="fa-solid fa-receipt"></i>
                <span>Facturas</span>
            </a>
            <a class="side-nav-link" th:href="@{/usuarios}">
                <i class="fa-solid fa-users-line"></i>
                <span>Usuarios</span>
            </a>
            <a class="side-nav-link" th:href="@{/articulos}">
                <i class="fa-solid fa-shop"></i>
                <span>Artículos</span>
            </a>
            <a class="side-nav-link" th:href="@{/asientoscontables}">
                <i class="fa-solid fa-book"></i>
                <span>Asientos Contables</span>
            </a>
            <a class="side-nav-link" th:href="@{/vendedores}">
                <i class="fa-solid fa-user-tie"></i>
                <span>Vendedores</span>
            </a>
        </div>
        <div class="account-container">
            <form th:action="@{/logout}" method="POST">
                <input type="submit" value="Cerrar Sesión" />
            </form>
        </div>
    </div>
    <div class="page-content">
    </div>
</div>
</body>
</html>