<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head(~{::title})">
    <title>Facturacion</title>
</head>
<body>
<div class="container-fluid d-flex flex-row h-100 p-0">
    <div th:replace="layout::side-nav"></div>
    <div class="page-content overflow-auto">
        <div class="container">
            <div class="row my-4 justify-content-center">
                <div class="col-md-12 rounded bg-white p-3">
                    <h3 class="view-title">Usuarios</h3>
                    <p class="mb-0 view-description">Lista de usuario</p>
                </div>
            </div>
            <div class="row my-4 justify-content-center">
                <div class="col-md-12 rounded p-0">
                    <div class="card page-card">
                        <div class="card-body">
                            <div class="row my-2">
                                <div class="col-md-12 d-flex justify-content-end">
                                    <a class="btn btn-info" th:href="@{/usuarios/new}">Nuevo Usuario</a>
                                </div>
                            </div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Nombre de Usuario</th>
                                    <th>Email</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="usuario: ${usuarios}">
                                    <td th:text="${usuario.id}"></td>
                                    <td th:text="${usuario.fullname}"></td>
                                    <td th:text="${usuario.username}"></td>
                                    <td th:text="${usuario.email}"></td>
                                    <td>
                                        <a th:href="@{/usuarios/{id}(id=${usuario.id})}"
                                           class="btn btn-primary">Ver</a>
                                        <a th:href="@{/usuarios/delete/{id}(id=${usuario.id})}"
                                           class="btn btn-primary">Borrar</a>
                                        <a th:href="@{/usuarios/edit/{id}(id=${usuario.id})}"
                                           class="btn btn-primary">Actualizar</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>