<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head(~{::title})">
    <title>Facturacion</title>
</head>
<body>
<div class="container-fluid d-flex flex-row h-100 p-0">
    <div th:replace="layout::side-nav"></div>
    <div class="page-content overflow-auto">
        <div class="container">
            <div class="row my-4 justify-content-center">
                <div class="col-md-12 rounded bg-white p-3">
                    <h3 class="view-title">Nuevo Usuario</h3>
                    <p class="mb-0 view-description">Crea un nuevo usuario</p>
                </div>
            </div>

            <div class="row my-4 justify-content-center">
                <div class="col-md-12 rounded p-0">
                    <div class="card page-card">
                        <div class="card-header">
                            <h4 class="card-title">Datos</h4>
                        </div>
                        <div class="card-body">
                            <form method="POST" th:action="@{/usuarios/new}" th:object="${usuario}">
                                <div class="mb-3">
                                    <label class="form-label">Nombre Completo</label>
                                    <input type="text" class="form-control"
                                           th:classappend="${#fields.hasErrors('fullname') ? 'is-invalid' : ''}"
                                           th:field="*{fullname}"></input>
                                    <div th:if="${#fields.hasErrors('fullname')}"
                                         th:errors="*{fullname}" class="invalid-feedback">
                                        Nombre inválido
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Nombre de Usuario</label>
                                    <input type="text" class="form-control"
                                           th:classappend="${#fields.hasErrors('username') ? 'is-invalid' : ''}"
                                           th:field="*{username}"></input>
                                    <div th:if="${#fields.hasErrors('username')}"
                                         th:errors="*{username}" class="invalid-feedback">
                                        Nombre de usuario invalido
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Email</label>
                                    <input type="text" class="form-control"
                                           th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
                                           th:field="*{email}"></input>
                                    <div th:if="${#fields.hasErrors('email')}"
                                         th:errors="*{email}" class="invalid-feedback">
                                        Email invalido
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Contraseña</label>
                                    <input type="password" class="form-control"
                                           th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}"
                                           th:field="*{password}"></input>
                                    <div th:if="${#fields.hasErrors('password')}"
                                         th:errors="*{password}" class="invalid-feedback">
                                        Contraseña inválida
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>